html {
  background: url("https://i.pinimg.com/originals/f1/50/51/f150517dbec8812817269e8f0aaebb91.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  padding: 10px;
}

.main_container {
  display: flex;
  justify-content: center;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  top: 15vh;
}

.light_container {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 15%;
}

.light_bulb {
  width: 150px;
  height: 150px;
  filter: opacity(80%);
  border-radius: 15%;
  box-shadow: 0 8px 16px black;
}

@media screen and (max-width: 576px) {
  .light_container {
    border: 1px solid blue;
  }
  .light_bulb {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .light_container {
    border: 2px solid teal;
  }
  .light_bulb {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 992px) {
  .light_container {
    width: 150px;
    height: 150px;
    border: 3px solid red;
  }
  .light_bulb {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 993px) {
  .light_container {
    border: 4px solid pink;
  }
  .light_bulb {
    width: 200px;
    height: 200px;
  }
}
